@import url('https://fonts.googleapis.com/css?family=Roboto');

#autofill-checker-tooltip
{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  color: #fff;
  font-family: 'Roboto', sans-serif, Helvetica;  
  padding: 4px;
  position: absolute;
  z-index: 99999;
}
